.searchResults-item {
    width: 100%;
    height: 75px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    margin-top: 5px;
    border: 2px solid grey;
    border-radius: 9px;
    overflow: hidden;
}

.searchResults-item:hover {
    cursor: pointer;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.35);
}

.searchResults-item img {
    height: 100%;
    margin-right: 20px;
}

.videoText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videoTitle {
    font-size: 18px;
}

.videoDesc {
    font-size: 14px;
}

.videoPlay {
    align-self: center;
    width: 200px;
    height: 65%;
    border: none;
    border-radius: 25px;
    color: #313131;
    font-size: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 960px)  {
    .videoText {
        justify-content: center;
    }
    .videoTitle {
        font-size: 14px;
    }
    .videoDesc {
        display: none;
    }
    .videoPlay {
        display: none;
    }
}